* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Roboto";
  box-sizing: border-box;
  list-style: none;
  font-family: IBMPlexSans, Arial, sans-serif;
}
body {
  background-color: #121212;
}

.App {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  margin: 0;
  position: relative;
}

.main {
  display: flex;
  position: relative;
  top: 0px;
}

body {
  background-color: #121212;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #ffffff40;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffffff40;
}

*::-webkit-scrollbar-thumb:hover,
*::-webkit-scrollbar-thumb:active {
  background-color: #ffffff60;
}
