@import "/src/styles/globals.scss";

.container {
  padding: 20px;
  max-width: 700px;
  margin: auto;
}

.card {
  overflow: auto;
  padding: 15px 30px;
  background-color: $gray;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 5px;
  color: $white;

  &s {
    padding: 15px;
    margin: 2px;
    background-color: #0000034c;
    border-radius: 8px;
    word-break: break-all;

    .comment {
      margin-top: 1rem;
      color: $white;
    }
  }
  .header {
    display: flex;
    align-items: center;
    gap: 8px;
    color: $white;
    span {
      font-weight: bold;
      font-size: 0.85rem;
    }
    p {
      font-size: 0.75rem;
      opacity: 0.6;
    }
  }
  .body {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 30px;
    h3 {
      color: $white;
      font-weight: bold;
    }
    p {
      color: $white;
      opacity: 0.6;
    }
  }
}
